@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@600;700&display=swap');
/* Cabeçalho css */

header {
	width: 100%;
	height: 153px;
	background-color: #ff0066;
	display: grid;
	
}
.logo {
	margin: 0 auto;
	padding: 12.3px;
	cursor: pointer;
  z-index: 10;
}

.bl_nav {
	position: absolute;
	width: 94%;
	height: inherit;
	box-sizing: border-box;
}

.bl_nav li {
	float: right;
	padding: 65px 2px;
	font-family: 'Delius Swash Caps', cursive;
  font-size: 1.3em;
  color: rgb(255, 249, 95);
  line-height: 1.037;
  text-align: center;
}

.bl_nav li span:hover {
	color: #ff0066;
	cursor: pointer;
	text-decoration: underline;
	background-color: #fff95f;
}

.ct_principal {
	background-color: #4e4e4e;
	height: 517px;
	padding: 75px;
}

.ct_vestidos {
	background-color: #ff0066;
	width: 100%;
	height: 650px;
}

.ct_principal img {
  height: auto;
  width: auto;
}

.ct_principal_textos {
  
  width: 443px;
  height: 443px;
  float: right;
  display: grid;
}

.ct_principal_textos h3 {
  margin: auto;
}

.ct_principal_texto1 {
  font-size: 57px;
  font-family: "Cabin Condensed";
  color: rgb(222, 222, 222);
  font-weight: bold;
  line-height: 1.284;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
  -webkit-transform: scale(0.99, 1.03);
  width: auto;
}

.ct_principal_texto2 {
  font-size: 90px;
  font-family: "Cabin Condensed";
  color: rgb(222, 222, 222);
  font-weight: bold;
  line-height: 0.86;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
  width: auto;
}

.ct_principal_texto3 {
  font-size: 31px;
  font-family: "Cabin Condensed";
  color: rgb(222, 222, 222);
  font-weight: bold;
  line-height: 2.527;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
  -moz-transform: scale(0.94, 1.03);
  -webkit-transform: scale(0.94, 1.03);
}



@media (max-width: 1344px){
  .ct_principal img {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
}
  
@media (max-width: 1040px){
  .bl_nav li {
	padding: 14px 0px;
	font-family: 'Delius Swash Caps', cursive;
  font-size: 1.3em;
  color: rgb(255, 249, 95);
  line-height: 1;
  text-align: center;
	position: relative;
	margin: 0 auto;
	float: right;
}
  
  .bl_nav ul {
    
  height: inherit;
  display: flex;
  width: 328px;
  margin: auto;
  flex-direction: row-reverse;
}
  .bl_nav {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: 53px;
	background-color: #555;
}
  
.ct_principal {
	background-color: #4e4e4e;
	height: 517px;
	padding: 75px 25px;
}

.ct_principal_textos {
  
  width: 100%;
  height: auto;
  float: right;
  display: flex;
  }  
}

@media (max-width: 691px){
  .ct_principal {
    display: grid;
    float: none;
  }
  
  .ct_principal picture {
    order: 2;
  }
  
  .ct_principal_textos {
    order: 1;
    width: 100%;
    height: 28vw;
    float: left;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ct_principal_textos h3 {
    margin: auto;
  }  
  .ct_principal_texto1 {
  font-size: 31px;
  font-family: "Cabin Condensed";
  color: rgb(222, 222, 222);
  font-weight: bold;
  line-height: 1.284;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
}

  .ct_principal_texto2 {
  font-size: 37px;
  font-family: "Cabin Condensed";
  color: rgb(222, 222, 222);
  /*! font-weight: bold; */
  line-height: 0.86;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
}

  .ct_principal_texto3 {
  font-size: 20px;
  font-family: "Cabin Condensed";
  color: rgb(222, 222, 222);
  font-weight: bold;
  line-height: 2.527;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
  width: 89vw;
  box-sizing: border-box;
}

}
