@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Alfa+Slab+One&display=swap');


/* Cabeçalho css */

header {
	width: 100%;
	height: 153px;
	background-color: #ff0066;
	display: grid;
	
}
.logo {
	margin: 0 auto;
	padding: 12.3px;
	cursor: pointer;
  z-index: 10;
}

.bl_nav {
	position: absolute;
	width: 94%;
	height: inherit;
	box-sizing: border-box;
}

.bl_nav li {
	float: right;
	padding: 65px 2px;
	font-family: 'Delius Swash Caps', cursive;
  font-size: 1.3em;
  color: rgb(255, 249, 95);
  line-height: 1.037;
  text-align: center;
}

.bl_nav li span:hover {
	color: #ff0066;
	cursor: pointer;
	text-decoration: underline;
	background-color: #fff95f;
}

.ct_principal {
	background-color: #4e4e4e;
	height: 517px;
	padding: 75px;
}

.ct_principal picture {
  cursor: pointer;
}
.ct_vestidos {
  background-color: #ff0066;
	height: auto;
  margin: -75px auto;
  padding: 16px 5vw;
}

.ct_principal img {
  height: auto;
  width: auto;
}

.ct_principal_textos {
  
  width: 443px;
  height: 443px;
  float: right;
  display: grid;
}

.ct_principal_textos h3 {
  margin: auto;
}

.ct_principal_texto1 {
  font-size: 57px;
  font-family: "Cabin Condensed", Roboto;
  color: rgb(222, 222, 222);
  font-weight: bold;
  line-height: 1.284;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
  -webkit-transform: scale(0.99, 1.03);
  width: auto;
}

.ct_principal_texto2 {
  font-size: 90px;
  font-family: "Cabin Condensed", Roboto;
  color: rgb(222, 222, 222);
  font-weight: bold;
  line-height: 0.86;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
  width: auto;
}

.ct_principal_texto3 {
  font-size: 31px;
  font-family: "Cabin Condensed";
  color: rgb(222, 222, 222);
  font-weight: bold;
  line-height: 2.527;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
  -moz-transform: scale(0.94, 1.03);
  -webkit-transform: scale(0.94, 1.03);
}

.ct_vestidos_bl_texto {
  width: 100%;
}

.ct_vestidos_texto {
  background-color: yellow;
  font-size: 32px;
  font-family: "Cabin Condensed";
  color: rgb(255, 0, 102);
  font-weight: bold;
  line-height: 2.527;
  text-align: center;
  padding: 0px 20px;
  margin: auto;
  width: 242px;
}

.looks_grid {
  padding: 3vw;
}

#looks_grid {
  /* Prevent vertical gaps */
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         3;
  line-height: 3;
}

#looks_grid img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  cursor: pointer;
}

.looks_grid div h4 {
  font-size: 22px;
  font-family: "Aleo";
  font-weight: 300;
  color: rgb(255, 249, 95);
  font-style: italic;
  text-align: center;
  -moz-transform: scale(0.94, 1.03);
  -webkit-transform: scale(0.94, 1.03);
  -ms-transform: scale(0.94, 1.03);
  margin: -34px 4px;
  background-color: grey;
  line-height: 1.3;
  padding: 9px 0;
}

.looks_grid h5 {
  font-size: 22px;
  font-family: "Alfa Slab One";
  color: rgb(255, 249, 95);
  text-align: center;
  -moz-transform: scale(0.94, 1.03);
  -webkit-transform: scale(0.94, 1.03);
  -ms-transform: scale(0.94, 1.03);
  margin: 31px 111px 22px;
  background-color: black;
  line-height: 2.1;
}

.looks_grid div {
    margin: 7px;
}

footer {
  width: 100%;
  height: 145px;
  background-color: #222;
  margin: 72px auto 0 auto;
  display: grid;
}

footer h5 {
  
  margin: auto;
  color: #ccc;
  font-size: 1.5em;
  font-family: "Cabin Condensed";
  font-weight: bold;
  line-height: 2.527;
  text-align: center;
}

.icons {
  margin: auto;
  display: flex;
  line-height: 2.527;
}

.icons i {
  width: 32px;
  height: 32px;
  display: block;
  background-repeat: round;
  cursor: pointer;
  margin: -39px 5px;
}

.icons .facebook{
  background-image: url("../img/icons/facebook.svg");
  filter: invert(0.8);
}

.instagram {
  background-image: url("../img/icons/instagram.svg");
  margin: auto;
  filter: invert(0.8);
}








@media (max-width: 1344px)
{
  .bl_nav li {
	padding: 14px 0px;
	font-family: 'Delius Swash Caps', cursive;
  font-size: 1.3em;
  color: rgb(255, 249, 95);
  line-height: 1;
  text-align: center;
	position: relative;
	margin: 0 auto;
	float: right;
}
  
  .bl_nav ul {
    
  height: inherit;
  display: flex;
  width: 328px;
  margin: auto;
  flex-direction: row-reverse;
}
  .bl_nav {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: 53px;
	background-color: #555;
}
  
.ct_principal {
	background-color: #4e4e4e;
	height: auto;
	padding: 85px 25px;
}
  .ct_principal img {
  height: auto;
  width: 100%;
  box-sizing: content-box;
  position: static;
}
.ct_principal_textos {
  
  width: 100%;
  height: auto;
  float: none;
  display: flex;
  flex-wrap: wrap;
  } 
  .ct_principal_texto1 {
    font-size: 7vw;
  }
    .ct_principal_texto2 {
    font-size: 9vw;
  }
  .ct_principal_texto3 {
    font-size: 4vw;
  }
  .ct_vestidos {
    margin: -72px auto;
  }
  
  .looks_grid div h4 {
  font-size: 20px;
  margin: -21px auto;
  }

.looks_grid h5 {
  font-size: 16px;
  margin: 18px 60px;
}
}














@media (max-width: 691px){
  .ct_principal {
    display: grid;
    float: none;
    height: auto;
  }
  
  .ct_principal picture {
  }
  
  .ct_principal_textos {
    order: 1;
    width: 100%;
    height: max-content;
    float: left;
    flex-wrap: wrap;
    justify-content: center;
    padding: 41px 0px;
  }
  .ct_principal_textos h3 {
  margin: auto;
  float: left;
  }  
  .ct_principal_texto1 {
  font-size: 7.5vw;
  font-family: "Cabin Condensed";
  color: rgb(222, 222, 222);
  font-weight: bold;
  line-height: 1.284;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
}

  .ct_principal_texto2 {
  font-size: 10.2vw;
  font-family: "Cabin Condensed";
  color: rgb(222, 222, 222);
  /*! font-weight: bold; */
  line-height: 0.86;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
}

  .ct_principal_texto3 {
  font-size: 6.1vw;
  font-family: "Cabin Condensed";
  color: rgb(222, 222, 222);
  font-weight: bold;
  line-height: 2.527;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.13);
  width: 89vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.looks_grid div h4 {
  font-size: 4vw;
  margin: -29px 0px;
  }

.looks_grid h5 {
  font-size: 3vw;
  margin: 28px 28px;
}

  
  
  
  
  
  
}











