header {
    position: relative;
    height: 72px;
    background: #333333;
    box-shadow: 0px -1px 11px rgba(0, 0, 0, 0.75);
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.header_logo {
    display: flex;
    padding: 24px;
    font-family: Buenard;
    font-style: bold;
    font-weight: bold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #CCCCCC;
    /* Savil Shadows */
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

